@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --blue:#3498db;
    --dark-blue:#2980b9;
    --red:#e74c3c;
    --dark-red:#c0392b;
    --black:#333;
    --white:#fff;
    --light-bg:#eee;
    --box-shadow:0 5px 10px rgba(0,0,0,.1);
 } 

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.container h2{
    text-align: center;
}

.form-container {
    width: 100%;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: var(--dark-blue);
}

.error-message {
    color: var(--red);
    font-size: 0.875em;
    display: none;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
